
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


body {
    font-family: 'Inter', sans-serif;

}


.prose { 

}

.btn-custom-accent {
    @apply inline-block bg-accent text-white font-medium py-3 px-8 rounded-lg shadow transition duration-300 text-center;

}

.btn-custom-accent:hover {
     @apply bg-amber-600; 
}


/* Adapted potions of code from Google Gemini and validate code */
#mobile-menu {
    transition: max-height 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
}

#mobile-menu.open {
    max-height: 500px; 
}

